body {
  display: flex;
  height: 100vh;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.container {
  width: 35%;
}

.img-thumbnail {
  max-height: 250px;
  max-width: 250px;
}
